[submodule "remote_control/server/lib/ws_server"]
	path = remote_control/server/lib/ws_server
	url = https://github.com/Theldus/wsServer.git
[submodule "remote_control/server/lib/tco_shmem"]
	path = remote_control/server/lib/tco_shmem
	url = https://github.com/team-convex-optimization/tco-shmem.git
[submodule "remote_control/server/lib/tco_libd"]
	path = remote_control/server/lib/tco_libd
	url = https://github.com/team-convex-optimization/tco-libd.git
[submodule "shmem_viewer/lib/tco_libd"]
	path = shmem_viewer/lib/tco_libd
	url = https://github.com/team-convex-optimization/tco-libd.git
[submodule "shmem_viewer/lib/tco_shmem"]
	path = shmem_viewer/lib/tco_shmem
	url = https://github.com/team-convex-optimization/tco-shmem.git
[submodule "circle_vector_gen/lib/tco_linalg"]
	path = circle_vector_gen/lib/tco_linalg
	url = https://github.com/team-convex-optimization/tco-linalg.git
[submodule "shmem_mgr/lib/tco_shmem"]
	path = shmem_mgr/lib/tco_shmem
	url = https://github.com/team-convex-optimization/tco-shmem.git

[submodule "recorder/lib/tco_shmem"]
	path = recorder/lib/tco_shmem
	url = https://github.com/team-convex-optimization/tco-shmem.git
[submodule "recorder/lib/tco_libd"]
	path = recorder/lib/tco_libd
	url = https://github.com/team-convex-optimization/tco-libd.git

