# Correctly categorize C files
*.h linguist-language=C
*.c linguist-language=C

# Make sure all these files have LF line endings
*.c text
*.h text
*.js text
*.md text
*.sh text
*.svg text
*.html text
*.css text
